/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #FF0070;
  --menu-color: #FF0070;
  --question-color: #FF0070;
  --header-footer-title-max-shadow: #FF0070;
  --text-color: #F1B2CE;
  --main-title-color: #DB00FF;
  --title-decor-color: #000028;
  --main-color: #000028;
  --rec-visibility: visible;
  --bg-image: url(../images/cover-image-dark.png);
  background-image: var(--bg-image);
}


@media(prefers-color-scheme: dark) {
  :root {
    --accent-color: #FF0070;
    --menu-color: #FF0070;
    --question-color: #FF0070;
    --header-footer-title-max-shadow: #FF0070;
    --text-color: #F1B2CE;
    --main-title-color: #DB00FF;
    --title-decor-color: #000028;
    --main-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
    --rec-visibility: visible;
  }
  .page {
    background-image: url(../images/cover-image-dark.png);
  }
}
