/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}*/

.page {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  /*gap: 30px;*/
  background-color: var(--main-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  padding: var(--page-padding);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
