/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #ff8dcb;
  --menu-color: #353430;
  --question-color: #353430;
  --text-color: #353430;
  --main-title-color: #ffc2e6;
  --title-decor-color: #353430;
  --main-color: #fff1f7;
  --header-footer-title-max-shadow: #ff0070;
  --bg-image: url(../images/cover-image-light.png);
  --rec-visibility: hidden;
  background-image: var(--bg-image);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --menu-color: #353430;
    --question-color: #353430;
    --text-color: #353430;
    --main-title-color: #ffc2e6;
    --title-decor-color: #353430;
    --main-color: #fff1f7;
    --header-footer-title-max-shadow: #ff0070;
    --rec-visibility: hidden;
    --bg-image: url(../images/cover-image-light.png);
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .decoration_rec {
    visibility: var(--rec-visibility);
  }
}
