/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --menu-color: #ff0070;
  --question-color: #ff0070;
  --header-footer-title-max-shadow: #ff0070;
  --text-color: #f1b2ce;
  --main-title-color: #db00ff;
  --page-padding: 10px;
  --block-end-margin: 40px;
  --main-color: #000028;
  --title-decor-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --rec-visibility: visible;
  --font-size-headfoot-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (650px<=width) {
  :root {
    --page-padding: 20px;
    --block-end-margin: 60px;
    --font-size-headfoot-title: clamp(7.5rem, 0rem + 15.625vw, 10rem);
  }
}
